<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jemima</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <link rel="stylesheet" href="{{ ctx.app.config.baseUrl }}/public/css/weui.css">
    <link rel="stylesheet" href="{{ ctx.app.config.baseUrl }}/public/css/weuix.css">
    <link rel="stylesheet" href="{{ ctx.app.config.baseUrl }}/public/css/app.css">

    <script src="{{ ctx.app.config.baseUrl }}/public/js/zepto.min.js"></script>
    <script src="{{ ctx.app.config.baseUrl }}/public/js/zepto.weui.js"></script>

    <script src="{{ ctx.app.config.baseUrl }}/public/lib/nunjucks.min.js"></script>
    <script src="{{ ctx.app.config.baseUrl }}/public/lib/lodash.min.js"></script>
    <script src="{{ ctx.app.config.baseUrl }}/public/lib/dayjs.min.js"></script>

    {% block css %}{% endblock %}

  </head>

  <body ontouchstart="ontouchstart">

    {% block body %}
      <h1>this is body</h1>
    {% endblock %}

    {% block script %}{% endblock %}

  </body>
</html>